.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

/* LINK */
/* https://replit.com/@BayuNingrat/contoh-portofolio?v=1 */
/* contoh.bayuningrat.repl.co */
